@font-face{
    font-family:"potra";
    src: url('../fonts/Potra.ttf');
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .container{
    text-align: center;
    margin-left: 25%;
    margin-top: 10%;
  }

  .jumbotron{
    position: fixed;
    background: rgba(0, 0, 0);
    color: #f1f1f1;
    width: 50%;
    text-align: center;
  }

  body{
      font-family: "potra";
  }
  
  
 






